/* 
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~ng-wizard/themes/ng_wizard.min.css'; */

/* Optional */
/* If a theme other than default is used, the css file for that theme is required. */
/* @import '~ng-wizard/themes/ng_wizard_theme_arrows.min.css';
@import '~ng-wizard/themes/ng_wizard_theme_circles.min.css';
@import '~ng-wizard/themes/ng_wizard_theme_dots.min.css'; */

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }
  .submit{
    background-color: green;
    float: right;
  }
  .mat-radio-button ~ .mat-radio-button {
    margin-left: 20px;
    /* display: flex; 
    flex-direction: column; */
  }
  .error{
    text-align: left;
    color: red;
  }

  .list-items {
    margin: auto;
    width: 100%;
    height: 50%;
    border: none;
    padding: 5px;
    overflow: auto;
  
  }
  .table-editable{
    overflow: auto;
    /* overflow-x: hidden; 
    overflow-y: scroll;
    overflow: scroll; */
    height: 50%;

  }
  #table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:#1797c0;
    color: white;
  }
  #table tr:nth-child(even){background-color: #f2f2f2;}
  
  #table tr:hover {background-color: #ddd;}

  input {
    /* width: 80%; */
    /* margin: 5px 5px 5px 0px; */
    margin-top: 10px;
  }

  .ng-wizard-btn-prev{ 
    margin: 20px;
  }
  header{
    height: 70px;
    width: auto;
    background-color:#333;
  }
  /* .form-control {
    text-align: left;
    width: auto;
} */
.required{
  text-align: right;
  font-weight: bold;
}
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
.sidebar {
  height: 100%;
  width: 160px;
  position:absolute;
  /* z-index: 1; */
  /* top: 0; */
  left: 0;
  background-color: #111;
  overflow:visible;
  /* overflow-y: scroll; */
    /* overflow: scroll; */
  /* overflow-y: visible; */
  /* padding-top: 16px; */
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
}
.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 0px;
  height: 100%;
}

.example-container {
  width: 100%;
  height: 650px;
  margin: 10px;
  border: 1px solid #555;
}
.mainconent{
  /* padding-left: 250px; */
  margin-left: 200px;
}
.img1{
  align-items: center;
  width: 400px;
  height: 450px;
}
.body{
  height: 100%;
  width: 100%;
  /* overflow-y: hidden; */
}