<!-- <div class="container">
  <div class='form' *ngIf='!this.isLogin'>
    <h3 class="login">Login</h3>
    <form #myform="ngForm" (ngSubmit)="onSubmit(myform)">
      <div class='form-group'>
        <input class="form-control" type="text" name="username" placeholder="Username" ngModel>
      </div>
      <div class='form-group'>
        <input class="form-control" type="password" name="password" placeholder="Password" ngModel>
      </div>
      <input class="form-control" type="submit" value="Login">
    </form>
  </div>
  <div class='col-md-4 offset-4 mt-5' *ngIf='this.isLogin'>
    <div>
      <mat-form-field appearance="fill">
        <label>Department Type</label>
        <select matNativeControl (change)="changedepartmenttype($event)">
          <option>Select</option>
          <option *ngFor="let dt of OpportunityFieldList" [value]="dt.dep_Type__c">
            {{dt.dep_Type__c}}
          </option>
        </select>
      </mat-form-field>
      <a routerLink="/ng-wizard" routerLinkActive="active">My Wizard</a>
      <router-outlet></router-outlet>
    </div>
    <div class="card" *ngIf="OpportunityList.length>0">
      <div class="card-body">
        <div id="table" class="table-editable">
          <table class="table table-bordered table-responsive-md table-striped text-center">
            <tr>
              <th class="text-center">Opportunity Id</th>
              <th class="text-center">Opportunity Name</th>
              <th class="text-center">Department Type</th>
            </tr>
            <tr *ngFor="let ol of OpportunityList">
              <td>
                <span>{{ol.id}}</span>
              </td>
              <td>
                <span>{{ol.name}}</span>
              </td>
              <td>
                <span>{{ol.dep_Type__c?ol.dep_Type__c:"NA"}}</span>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="app-page-container">
  <router-outlet></router-outlet>
</div>